/* ligne de commentaire, ignorée par CSS*/
body
{
background-image : url('imagesP/fondSIN.jpg'); 
background-attachment:fixed ;
background-size: cover ;
font-size : 1.2em ;
font-family : "Impact", serif ;
color : rgb(0,0,0) ;

display : flex ;
flex-direction : column ;
align-items : center ;
}

header
{
	color : rgb(0,0,0) ;


}


nav ul
{
	color : rgb(0,0,0) ;
	align-items : center

} 

nav li
{

}
  
nav a
{

}


nav a:hover
{
	color : rgb(255,80,0) ;
	font-size : 1.3em ;

}

h1
{

}

section
{
	

}

article
{

}

aside
{

}


footer
{

}

footer h3
{

}






